# this project
-e .

# build
twine~=4.0

# experiment
jupyter~=1.0

# format
black==22.10.0  # doesn't follow semver

# lint
-r requirements_lint.txt
flake8-codes~=0.2  # flake8 error code introspection

# test
pytest~=7.2
pytest-cov~=4.0
