# this project
-e .

# build
twine~=3.7

# experiment
jupyter~=1.0

# format
black==21.12b0  # doesn't follow semver

# lint
-r requirements_lint.txt
flake8-codes~=0.1  # flake8 error code introspection

# test
pytest~=6.2
pytest-cov~=3.0
